<{extends 'public/base_admin.html'}>
<{block name=title}>标签管理<{/block}>
<{block name=static}>
<style>

</style>
<{/block}>
<{block name=body}>
<div class="container-fluid">


<div id="table_data">
<button type="button" class="btn btn-default btn-lg" v-on:click="addNew()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add
</button>
<form method="get" action="/admin/title/addNew/"  v-if="seen">

    <div class="row">
        <div class="col-md-3">
        <label >Name of title</label>
            <input class="form-control" name="title" placeholder="Email">
        </div>


        <div class="col-md-3">
            <label >Level</label>
            <select  name="level" class="form-control" v-model="selected_level">
                <option>0</option>
                <option>1</option>
                <option>2</option>
            </select>
        </div>
        <div class="col-md-3" v-if="selected_level>0?true:false">
            <label >Level</label>
            <select  name="parent" class="form-control">
                <option v-for="parent in  parent_data"  :value="parent.id">
                    {{parent.name}}
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <label >URL</label>
          <input class="form-control" name="url">
        </div>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
    <table-list v-bind:table_data="tableData"  v-bind:table_title="tableTitle"></table-list>
</div>
</div>
<{/block}>
<{block name=script}>
<script src="/node_modules/axios/dist/axios.js"></script>

<script type="text/javascript">
    // import axios from '/node_modules/axios';
    // Vue.prototype.$http = axios;
    Vue.component('table-list', {
        props: {
            table_data:Array,
            table_title:Array
        },
        template: `
            <table class="table table-hover">
            <tbody>
              <tr>
                <td v-for="title in table_title">{{title}}</td>
              </tr>
              <tr v-for="row in table_data">
                <td v-for="td in row">{{td}}</td>
              </tr>
              </tbody>
            </table>`,
    });
    var obj=new Vue({
        el:'#table_data',
        data: {
            seen: false,
            tableData: [
                {id: 1, name: 'a', url: 'as'},
                {id: 2, name: 'b', url: 'bs'},
                {id: 3, name: 'c', url: 'cs'},
            ],
            tableTitle: ['ID', '名称', 'url'],
            parent_data:[],
            selected_level:0
        },
        methods:{
            addNew:function () {
                this.seen=!this.seen;
            },
            getTitleList(){
                var that=this;
                axios.get('/admin/index/getTitleList/').then(function (res) {
                    that.parent_data=res.data.data;
                }).catch(function (error) {
                    that.parent_data=[];
                });
            }
        },
        created:function () {
            this.getTitleList();
        }


    });
</script>
<{/block}>
