<{extends 'public/base.html'}>

<{block name=body}>
<div class="layui-fluid">
  <div class="layadmin-tips">
    <i class="layui-icon" face style="font-size: 250px;">&#xe664;</i>
    <div class="layui-text" style="width:100%; text-align: center;line-height: 50px;">

      <h2 style="font-size: 48px"><{$message}></h2>
        <h2 style="margin-top: 15px"><button onclick="javascript:history.back(-1);"  class="layui-btn layui-btn-primary layui-btn-lg"><i class="layui-icon layui-icon-return"></i> 返回上一页</button></h2>
	  <{if $isDev==1}>
      	<h2 >[<{$code}>] <{$exception}> </h2>
      	<{$errorDump}>
      <{/if}>
      </div>
  </div>
</div>

<{/block}>
